@use "@/styles/abstracts/variables";

.contact-field-container {
	flex: 1 200px;

	> div {
		background-color: variables.$primary-color;
		border-radius: 8px;
		box-shadow: inset 0 0 0 2px variables.$black-color !important;

		&:focus-within {
			box-shadow: inset 0 0 0 4px variables.$black-color !important;
		}
	}
}

.contact-field-input {
	color: variables.$black-color;
}

.contact-field-error {
	color: variables.$primary-color;
}

.submit-contact {
	flex: 1 200px;
	color: variables.$black-color;
	background-color: #f8be15;
	border-radius: 8px;
	padding: 16px 32px;

	&:not(:disabled) {
		&:hover,
		&:focus {
			background-color: #f8bf15c0;
		}
	}
}
