@use "@/styles/abstracts/mixins";

.spar-branch {
	@include mixins.dimensions(100%, 100%);
	@include mixins.display-flex(column, center, center, wrap, 16px);
	text-align: center;

	.location {
		font-weight: bold;
	}

	.opening-hours {
		@include mixins.dimensions(100%, 100%);
		@include mixins.display-flex(column, center, center, wrap, 8px);

		.label {
			font-weight: bold;
		}
	}
}
