@use "@/styles/abstracts/variables";
@use "@/styles/abstracts/mixins";
@use "@/styles/abstracts/functions";

.spar-facts {
	@include mixins.dimensions(100%, 100%);
	@include mixins.display-flex(column, center, center, wrap, 32px);
	text-align: center;

	.facts-list {
		@include mixins.dimensions(100%, 100%);
		@include mixins.display-flex(row, center, stretch, wrap, 32px);
		font-size: variables.$small-font-size;

		.fact {
			@include mixins.dimensions(min(100%, functions.linear-clamp(220px, 280px)), initial);
			aspect-ratio: 16 / 9;
			position: relative;
			border: 2px solid variables.$theme-color;
			border-radius: 12px;
			padding: 48px 16px 8px;
			text-align: center;

			.fact-icon {
				position: absolute;
				top: 0;
				right: 50%;
				transform: translate(50%, -50%);
				user-select: none;
			}
		}
	}
}
