@use "@/styles/abstracts/variables";
@use "@/styles/abstracts/mixins";

.header {
	@include mixins.dimensions(100%, fit-content);
	@include mixins.display-flex(column, center, center, $gap: 8px);
	padding: 64px 5%;
	background-color: variables.$theme-color;

	.welcome-container {
		@include mixins.dimensions(100%, fit-content);
		@include mixins.display-flex(column, center, center, $gap: 8px);
		direction: ltr;

		.logo {
			height: auto;
			max-width: calc(45% + 48px);
		}
	}

	.title {
		font-size: variables.$large-font-size;
		font-family: variables.$primary-font;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

@media only screen and (min-width: 480px) {
	.header {
		.welcome-container {
			@include mixins.display-flex(row, center, center, $gap: 8px);
		}
	}
}
